input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

/* ===== TRACK ===== */
input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #dbdee3;
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  height: 7px;
  background: #dbdee3;
  border-radius: 5px;
}

input[type=range]::-moz-range-progress {
  background-color: #EC3342;
  height: 7px;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  outline: 3px solid #EC3342;
  margin-top: -5.5px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #EC3342;
  border: 2px solid #fff;
  cursor: pointer;
}

